//  app wrapper styles
.app-wrapper {
	position: relative;
    overflow: hidden;
    min-height: 100vh;
	@include d-flex ($justify-content: flex-start);
}

.application{
	position: relative;
	min-height:600px;
	min-width: 1024px;
	overflow: hidden;
	@include d-flex ($justify-content:center);
}

.nav-panel_ava {
	width: 88px;
	height: 88px;
	min-width: 88px;
	overflow: hidden;
	border-radius: 50%;
}