// NAV PANEL styles

.nav-panel {
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--nav-color);

	&_avatar {
		position: relative;
		margin-bottom: 32px;
	}

	&_count {
		display: inline-block;
		position: absolute;
		top: -5px;
		right: 0;
		width: 31px;
		height: 31px;
		text-align: center;
		line-height: 31px;
		border-radius: 50%;
		background-color: var(--red);
		color: var(--white);
	}

	&_element {
		position: relative;
		margin-bottom: 38px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&::before {
			position: absolute;
			content: '';
			height: 109px;
			width: 4px;
			top: 20px;
			left: -17px;
			background-color: var(--red);
			opacity: 0;
		}

		&:hover::before {
			opacity: 1;
			transition: all .5s;
		}

	}

	&_list {
		text-align: center;
	}

	&_icon {
		font-size: 45px;
		margin-bottom: 10px;
		color: #4d5052;
		position: relative;

		&_count {
			display: inline-block;
			position: absolute;
			top: 28px;
			right: 0;
			width: 31px;
			height: 31px;
			text-align: center;
			line-height: 31px;
			border-radius: 50%;
			background-color: #adadad;
			color: var(--white);
		}

		&:hover {
			color: var(--red);
		}
	}

	&_dots {
		@include d-flex($justify-content: center);
		margin-bottom: 33px;

		&_element {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #4d5052;
			padding-right: 6px;

			&:last-of-type {
				padding-right: 0;
			}
		}
	}

	.nav-panel_element_text {
		letter-spacing: -0.025em;
		color: var(--white);
	}

	.nav-panel_container_down {
		margin-top: 412px;

		.nav-panel_element {
			&::before {
				position: absolute;
				content: '';
				height: 109px;
				width: 4px;
				top: 5px;
				left: -17px;
				background-color: var(--red);
				opacity: 0;
			}

			&:hover::before {
				opacity: 1;
				transition: all .5s;
			}
		}

		.nav-panel_icon {
			&_count {
				display: inline-block;
				position: absolute;
				top: -20px;
				right: 0;
				width: 31px;
				height: 31px;
				text-align: center;
				line-height: 31px;
				border-radius: 50%;
				background-color: var(--red);	
				color: var(--white);
			}
		}
	}





	.nav-panel_element_down {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			height: 109px;
			width: 4px;
			top: 20px;
			left: -17px;
			background-color: var(--red);
			opacity: 0;
		}

		&:hover::before {
			opacity: 1;
			transition: all .5s;
		}
	}
}