/*flex-box mixin*/


@mixin d-flex ($flex-d: null, $justify-content: null, $align-items: null , $flex-wrap: null) {
	display: flex;
	flex-direction: $flex-d;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
}

/*helpers class*/


.bgc-primary-40 {
  background-color: var(--primary40);
}


.pr-10 {
  padding-right: 10px;
}

.ttu {
  text-transform: uppercase;
}

.dark {
  background-color: var(--white);
}

.fw-bold {
  font-weight: bold;
}