/*flex-box mixin*/


@mixin d-flex ($flex-d: null, $justify-content: null, $align-items: null , $flex-wrap: null) {
	display: flex;
	flex-direction: $flex-d;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
}

/*helpers class*/


.bgc-primary-40 {
  background-color: var(--primary40);
}


.pr-10 {
  padding-right: 10px;
}

.ttu {
  text-transform: uppercase;
}

.dark {
  background-color: var(--white);
}

.fw-bold {
  font-weight: bold;
}

.mr-10 {
  margin-right: 10px;
}

.grey-1 {
  color: #aaaaaa;
}

.fz-12 {
  font-size: 12px;
}

.underline {
  text-decoration: line-through;
  color: #838383;
}

bgc-dark-2 {
  color: #838383;
}