.content__panel-tabs {
  display: flex;
  flex-direction: column;

  .tabs {
    padding-left: 30px;
    padding-right: 129px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    background-color: var(--grey);

    > li {
      display: flex;
      justify-content: center;
      background-color: #f8f8f8;
      align-items: center;

      a {
        text-decoration: none;
        padding: 16px 53px 27px;
        background-color: #f8f8f8;
        line-height: 1.6;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 24px;
        color: #4b4b4b;
        border-top: 1px solid #d3d7da;
        border-right: 1px solid #d3d7da;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;

        &:before {
          content: "\f017";
          font-family: FontAwesome;
          margin-right: 8px;
          font-size: 25px;
          color: #d5d5d5;
          position: absolute;
          font-size: 38px;
          top: 5px;
          left: 0px;
        }

        &:hover {
          background-color: #ffffff;
        }

        &:after {
          content: "9";
          position: absolute;
          width: 29px;
          height: 29px;
          line-height: 29px;
          text-align: center;
          border-radius: 50%;
          background-color: #adadad;
          top: 8px;
          right: 23px;
          display: inline-block;
          color: #ffffff;
          font-size: 14px;
        }
      }

      .tabs__message {
        padding: 15px 47px 28px 82px;
        line-height: 1.6;
        display: flex;
        position: relative;
        align-items: center;
        font-size: 24px;
        color: #4b4b4b;

        &:before {
          content: "\f045";
          font-family: "FontAwesome";
          font-size: 44px;
          margin-left: 28px;
          color: #d5d5d5;
        }
        &:after {
          content: "2";
          position: absolute;
          width: 29px;
          height: 29px;
          line-height: 29px;
          text-align: center;
          border-radius: 50%;
          background-color: var(--red);
          top: 8px;
          right: 18px;
          display: inline-block;
          color: #ffffff;
          font-size: 14px;
        }
      }
    }
    .input__text {
      margin-left: auto;
      .input__text-inner {
        width: 255px;
        border: none;
        outline: none;
        margin-left: auto;
        background-color: var(--grey);
      }
    }
  }
}
.summary__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  .left-block {
    display: flex;
    justify-content: space-between;
    flex: 1 1 72%;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid red;
    overflow: auto;
    overflow-x: hidden;
    max-height: 600px;
    .input-navigation {
      display: flex;
      padding: 17px 32px 17px 28px;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      border: 1px solid #e2e3e3;
    }

    .input__text {
      width: 55%;
    }

    .input__text-inner {
      border: none;
      outline: none;
      font-size: 22px;
      color: var(--grey-50);
      width: 100%;
    }

    .init__right-block {
      display: flex;
      align-items: center;

      .tabs__content-status {
        border-radius: 20px;
        font-size: 16px;
        line-height: 1.2;
        border: 1px solid var(--grey-50);
        padding: 15px 19px 13px 20px;

        &-text {
          position: relative;

          &:after {
            content: "\f107";
            font-family: FontAwesome;
            margin-left: 15px;
          }
        }
      }

      .init_icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--red);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .input-dropdowns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px 24px 30px;
    border-top: none;
    border-left: 1px solid #e2e3e3;
    border-right: 1px solid #e2e3e3;
    border-bottom: 1px solid #e2e3e3;
    .left-inner {
      display: flex;
      align-items: center;
      &-percent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 33px;
        background-color: var(--red);
        color: var(--white);
        font-size: 24px;
        border-radius: 4px;
      }
      &-text {
        font-size: 22px;
        color: var(--primary);
        line-height: 1.2;
        margin-left: 15px;
        max-width: 400px;
      }
      .transparent {
        background-color: transparent;
        border: 1px solid var(--primary);
        color: #a2b7c6;
      }
      .ui-service {
        padding-left: 10px;
        color: #838383;
      }
    }
    .right-inner {
      display: flex;
      align-items: center;
      &-worlda {
        display: flex;
        border-radius: 20px;
        border: 1px solid #e2e3e3;
        padding: 7px 17px;
        color: #668dab;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
      }
      .init_icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid var(--primary);
        background-color: var(--white);
        color: #e2e3e3;
        transition: all 0.2s ease-in-out;
        //margin-bottom: 5px;
        &:hover {
          background-color: var(--red);
        }
        > .init_inner {
        }
      }
      .avatar-block {
        .ava {
          width: 35px;
          height: 35px;
          overflow: hidden;
          border-radius: 50%;
        }
      }
    }
  }
  .input-dropdowns.bgc-primary-40 {
    padding: 24px 30px 24px 30px;
  }
  .left-inner-text-dark {
    color: #838383;
    font-size: 22px;
    margin-left: 15px;
  }
  .d-none {
    display: none;
  }
  .project__block {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    &-text {
      color: var(--primary);
      &::after {
        content: "\f105";
        font-family: FontAwesome;
        margin-left: 10px;
      }
    }
  }
  .right-block {
    display: flex;
    flex-basis: 28%;
    border: 1px solid fuchsia;
    margin-left: 30px;
  }
}
